.container {
  width: 90%;
  margin: auto;
}

h1 {
  width: 100%;
  text-align: center;
  margin: 2rem auto 2rem auto;
  border-radius: 10px;
}

.file-buttons {
  display: flex;
  justify-content: space-between;
}

button {
  width: 48%;
  margin-bottom: 1rem;
  border-radius: 10px;
}

mat-form-field {
  width: 100%;
}

table {
  border-radius: 10px;
}

caption {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
