<div class="container">
  <div class="content">

    <div class="pageTitle full-width mat-elevation-z8">
      <button
        class="homeBtn"
        mat-icon-button color="accent"
        aria-label="Voltar"
        routerLink="../"
        matTooltip="Voltar para página inicial">
        <mat-icon>home</mat-icon>
      </button>
      <h1 class="title">
        Lista de e-mails enviados
      </h1>
    </div>

    <div class="file-buttons">
      <button
        class="mat-elevation-z8 upBtn"
        mat-stroked-button
        (click)="uploadFile.toggle()"
        matTooltip="Carregar planilha com e-mails a serem enviados">
        Carregar planilha de e-mails
      </button>
      <button
        class="mat-elevation-z8 dwnBtn"
        mat-stroked-button
        (click)="onDownloadFile()"
        matTooltip="Baixar relatório com os e-mails, apenas filtrados">
        Baixar relatório de e-mails
      </button>
    </div>

    <mat-form-field class="mat-elevation-z4 full-width">
      <mat-label>Filtrar</mat-label>
      <input (keyup)="applyFilter($event)" matInput
             placeholder="Ex.: Fulano de tal, Enviado, Notas de Matemática, 04/12/2023">
    </mat-form-field>

    <div class="mat-elevation-z8 ">

      <table class="mat-elevation-z4" mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> ID</th>
          <td *matCellDef="let element" mat-cell> {{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="sendTo">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Destinatário</th>
          <td *matCellDef="let element" mat-cell> {{ element.sendTo }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Status</th>
          <td *matCellDef="let element" mat-cell> {{ element.status }}</td>
        </ng-container>

        <ng-container matColumnDef="subject">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Assunto</th>
          <td *matCellDef="let element" mat-cell> {{ element.subject }}</td>
        </ng-container>

        <ng-container matColumnDef="sendDate">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Data de envio</th>
          <td *matCellDef="let element" mat-cell> {{ element.sendDate }}</td>
        </ng-container>

        <ng-container matColumnDef="conteudo">
          <th *matHeaderCellDef mat-header-cell> Conteúdo</th>
          <td *matCellDef="let element" mat-cell>
            <button mat-icon-button color="accent" aria-label="Abrir e-mail"
                    (click)="showEmailModal.toggle(); setEmail(element)">
              <mat-icon>open_in_new</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>

    </div>

  </div>
</div>

<modal #showEmailModal>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{ email?.subject }}</mat-card-title>
      <mat-card-subtitle>De: {{ email?.sendFrom }}</mat-card-subtitle>
      <mat-card-subtitle>Para: {{ email?.sendTo }}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p [ngClass]="{'line-break': showLineBreak}">
        {{ email?.text }}
      </p>
    </mat-card-content>
  </mat-card>
</modal>

<modal #uploadFile>
  <h2>Enviar planilha de e-mails</h2>
  <form>
    <mat-form-field class="full-width">
      <mat-label>Assunto</mat-label>
      <input
        [formControl]="subject"
        name="subject"
        required
        matInput
        placeholder="Ex.: Notas de matemática">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Mensagem para os alunos</mat-label>
      <textarea
        [formControl]="message"
        class="message"
        name="message"
        required
        matInput
        placeholder="Ex.: Bom dia, segue as notas de matemática">
      </textarea>
    </mat-form-field>
  </form>
  <input
    required
    type="file"
    class="file-input"
    (change)="onFileSelected($event)"
    #fileUpload
    [hidden]="true">
  <div class="file-upload">
    <button
      mat-mini-fab
      color="primary"
      (click)="fileUpload.click()">
      <mat-icon>attach_file</mat-icon>
    </button>
    {{ fileName || "Nenhum arquivo escolhido" }}
  </div>
  <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
</modal>
