.full-width {
  width: 100%;
}

.container {
  padding: 1rem;
  min-height: 100vh;
  height: fit-content;
  background-color: #333333;
}

.content {
  width: 90%;
  margin: auto;
}

.page-title {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 2rem auto;
  border-radius: 10px;
  text-align: center;
  color: #9c27b0;
}

.title {
  margin: auto;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

.file-buttons {
  display: flex;
  justify-content: space-between;
}

.up-btn, .dwn-btn {
  width: 48%;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: #9c27b0;
  color: white;
}

table {
  max-width: 100%;
  border-radius: 10px;
  overflow-x: scroll;
}

.card {
  width: 100%;
  height: 100%;
  color: white;
}

mat-card-title, mat-card-header {
  padding-bottom: .5rem;
}

mat-card-content {
  padding-top: .5rem;
  min-height: 10vh;
  max-height: 40vh;
  overflow-y: scroll;
}

.line-break {
  white-space: pre-wrap;
}

.upload-emails {
  color: white;
}

.send-emails {
  margin: 1rem;
  justify-content: center;
}

.message {
  resize: none;
  min-height: 100px;
}

.file-upload {
  display: flex;
  justify-content: space-around;
}

.file-name {
  vertical-align: center;
}

mat-progress-bar {
  margin-top: 1rem;
}
