<div class="container">

  <mat-card class="content mat-elevation-z8">
    <mat-card-content>
      <img class="img-center" src="/assets/img/email.svg" alt="E-mail Notas 10">
    </mat-card-content>
    <mat-card-footer class="btn btn-group">
      <button
        mat-stroked-button
        color="accent"
        matTooltip="Modelo de planilha aceito pelo serviço">
        Baixar modelo da planilha
      </button>
      <button
        mat-raised-button
        color="accent"
        routerLink="/list"
        matTooltip="Tela de listagem e envio de e-mails">
        Enviar e-mails
      </button>
    </mat-card-footer>
  </mat-card>

</div>
